.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 25px;
  justify-items: center;
  align-items: center;
  max-width: 1024px;
  margin: 50px auto;
  div:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  div:nth-child(2) {
    grid-row: 1/3;
  }
}
